@using AkademisyenProfil.Models
@model List<Ogrenimbilgiler>
@{
    ViewData["Title"] = "ogrenimler";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"> <strong>ÖĞRENİM BİLGİLERİ</strong></h3>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th><strong>ÖĞRENİM NO</strong></th>
                    <th><strong>ARAŞTIRMA ALANI</strong></th>
                    <th><strong>DOKTORA</strong></th>
                    <th><strong>YÜKSEKLİSANS</strong></th>
                    <th><strong>LİSANS</strong></th>
                    <th><strong>AKADEMİSYEN ADI</strong></th>
                    <th><strong>İŞLEM</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                <tr class="tr-shadow">
                    <td>@x.ogrenimno</td>
                    <td>@x.arastirmaalan</td>
                    <td>@x.doktora</td>
                    <td>@x.yukseklisans</td>
                    <td>@x.lisans</td>
                    <td>@x.Akademisyenler.akaad</td>
                    <td>
                        <div class="table-data-feature">
                            <a href="/Admin/OgrenimSil/@x.ogrenimno">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>
</div>

